.loader {
  display: grid;
  place-content: start center;
  margin-bottom: 16px;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.loader_box {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 233, 37, 0.8);
}

.loader_box_alt {
  width: 50px;
  height: 50px;
  background-color: rgba(109, 23, 158, 0.8);
}

.first {
  animation: loader_animation_first 2s linear infinite;
}
.second {
  animation: loader_animation_second 2s linear infinite;
}
.third {
  animation: loader_animation_third 2s linear infinite;
}

.fourth {
  animation: loader_animation_fourth 2s linear infinite;
}

@keyframes loader_animation_first {
  0% {
    scale: 1;
  }

  20% {
    scale: 1.1;
    box-shadow: 0 0 10px rgba(255, 233, 37, 0.8);
  }
}

@keyframes loader_animation_second {
  20% {
    scale: 1;
  }

  40% {
    scale: 1.1;
    box-shadow: 0 0 10px rgba(182, 37, 255, 0.8);
  }
}

@keyframes loader_animation_third {
  40% {
    scale: 1;
  }

  60% {
    scale: 1.1;
    box-shadow: 0 0 10px rgba(182, 37, 255, 0.8);
  }
}

@keyframes loader_animation_fourth {
  60% {
    scale: 1;
  }

  80% {
    scale: 1.1;
    box-shadow: 0 0 10px rgba(255, 233, 37, 0.8);
  }

  100% {
    scale: 1;
  }
}
